<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--<![endif]-->
<html lang="en-US">

<head>

    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Portfolio | Josh Cooley</title>

    <meta name="description" content="" />

    <!-- Mobile Specifics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />

    <!-- Mobile Internet Explorer ClearType Technology -->
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
    <!-- Bootstrap -->
    <link href="_include/css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Style -->
    <link href="_include/css/main.css" rel="stylesheet">

    <!-- Smooth State Styles-->
    <link href="_include/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="_include/css/keyframes.css" rel="stylesheet" type="text/css" />
    <link href="_include/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="_include/css/pageTransitions.css" rel="stylesheet" type="text/css" />
    <!-- Supersized -->
    <link href="_include/css/supersized.css" rel="stylesheet">
    <link href="_include/css/supersized.shutter.css" rel="stylesheet">

    <!-- FancyBox -->
    <link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

    <!-- Font Icons -->
    <link href="_include/css/fonts.css" rel="stylesheet">

    <!-- Shortcodes -->
    <link href="_include/css/shortcodes.css" rel="stylesheet">

    <!-- Responsive -->
    <link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="_include/css/responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="_include/css/custom.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='_include/css/opensans.css' rel='stylesheet' type='text/css'>

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="144x144" href="#">

    <!-- Modernizr -->
    <script src="_include/js/modernizr.js"></script>

    <!-- Smooth State-->
    <script src="_include/js/jquery.smoothState.js"></script>

    <!-- Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'YOUR ID']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- End Analytics -->
</head>


<body>

    <!-- This section is for Splash Screen -->
    <div class="ole">
        <section id="jSplash">
            <div id="circle"></div>
        </section>
    </div>
    <!-- End of Splash Screen -->
    <!-- Homepage Slider -->
    <div id="home-slider">
        <div class="overlay"></div>
        <div class="container-fluid">
            <img class="joshcooley" src="_include\img\joshcooley.png" />
        </div>
        <div class="arrow blink_me"> </div>
    </div>


    <!-- End Homepage Slider -->
    <!-- Header -->
    <header>
        <div class="sticky-nav">
            <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
            <div id="logo">
                <a id="goUp" href="#home-slider" title="Portfolio | Josh Cooley">Portfolio</a>
            </div>

            <nav id="menu">
                <ul id="menu-nav">
                    <!-- <li class="current"><a href="#home-slider">Home</a></li> -->
                    <li class=""><a href="#about">About Me</a></li>
                    <li class=""><a href="#services">Process</a></li>
                    <li class=""><a href="#work">Work</a></li>

                    <!-- <li class=""><a href="#contact">Contact</a></li> -->
                </ul>
            </nav>

        </div>
    </header>
    <!-- End Header -->
    <!-- About Section -->
    <div id="about" class="page">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-page">
                        <h2 class="title">About Me</h2>
                        <div class="col-xs-12 col-sm-3">
                            <img id="me" src="_include/img/work/full/me5.jpg">
                            <a class="btn btn-block" href="_include/Resume-Clean.pdf" target="_blank" type="submit" id="resumebutton">Resume </a>
                        </div>

                        <div class="col-xs-9">
                            <h4> Personally </h4>
                            <p> Who I am: Designer, Musician, Surfer, Snowboarder, Father, Husband, Golfer (I try...), Tennis Player, lover of craft brew (Belgian Tripels = My Favorite)...Josh. </p>
                            <p> What I Do: Take ideas from your brain and iteratively turn them into efficient, pleasant, working technologies. </p>
                            <p> Where I Live: Sunny San Diego, CA (But not opposed to trying out new places!) </p>
                            <p> When Should you Contact Me?: If not now, when? </p>
                            <p> Why You Should Contact Me: Because you won't find many people who care about your users and your product as much as I do. </p>
                            <p> How to Contact Me: <strong><a href=mailto:jmaelync@gmail.com>Send Email</a></strong></p>

                        </div>
                        <div class="col-xs-12">
                            <h4> Professionally </h4>
                            I describe myself as "T shaped" UX resource. My skill set is broad and deep in hypotheses (in)validation, prototyping and usability. I enjoy tackling products in rapid paced agile teams and have lead several design efforts from concept to completion. I strive to be the voice of the user in all stages of the design process, and ensure that data and empathy is the driving force behind every minute decision.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="page-alternate">
        <div class="container">

            <!-- Services Boxes -->
            <h1>Process</h1>
            <div class="row">
                <div class="col-xs-4">
                    <div class="services-box">
                        <div class="icon">
                            <span class="font-icon-group"></span>
                        </div>
                        <h3>Observe</h3>
                        <p>
                            Collecting data on user needs and goals is a vital step in ensuring a fruitful design. This is done by:
                            <ul>
                                <li>Contextual Inquiries</li>
                                <li>
                                    <button class="btn btn-link" data-toggle="modal" data-target="#personaModal"> Creating Personas </button>

                                    <!--<a class="hover-wrap fancybox" data-fancybox-group="gallery06" title="InstantCheckmate" href="_include/img/work/full/Persona1.jpg" />
                                        <a class="hover-wrap fancybox" data-fancybox-group="gallery06" title="InstantCheckmate" href="_include/img/work/full/Persona2.jpg" />
                                        <a class="hover-wrap fancybox" data-fancybox-group="gallery06" title="InstantCheckmate" href="_include/img/work/full/Persona4.jpg" />
                                        <a class="hover-wrap fancybox" data-fancybox-group="gallery06" title="InstantCheckmate" href="_include/img/work/full/IlCovo2.png" />
                                        <a class="hover-wrap fancybox" data-fancybox-group="gallery06" title="InstantCheckmate" href="_include/img/work/full/UL6.png" />
                                        <a class="hover-wrap fancybox" data-fancybox-group="gallery06" title="InstantCheckmate" href="_include/img/work/full/kosmos2.png" />-->

                                </li>

                                <li>
                                    Storyboarding
                                    <!--<a class="hover-wrap fancybox" data-fancybox-group="gallery07" title="Storyboards" href="_include/img/work/full/citisense2.jpg" />-->

                                </li>
                                <li>Surveying</li>
                                <li>
                                    Card Sorting
                                    <!--<a class="hover-wrap fancybox" data-fancybox-group="gallery08" title="Card Sorting" href="_include/img/work/full/moose4.jpg" />
                                        <a/>-->
                                </li>
                            </ul>
                        </p>
                        <div class="modal fade" id="#personaModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>One fine body&hellip;</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="services-box">
                        <div class="icon">
                            <span class="font-icon-edit"></span>
                        </div>
                        <h3>Iterate</h3>
                        <p>
                            I focus on creating low-fidelity iterations in order to hash out preliminary design issues and to better visualize my ideas to the client.  This is done by:
                            <ul>
                                <li>Whiteboarding</li>
                                <li>Wireframing</li>
                                <li>Creating Page Flows</li>
                                <li>Prototyping</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="services-box">
                        <div class="icon">
                            <span class="font-icon-search"></span>
                        </div>
                        <h3>Refine</h3>
                        <p> Once a general design is established, I continue to refine and test the interface to ensure the user's needs are effectively met. This is done by:</p>
                        <ul>
                            <li>User Testing</li>
                            <li>Creating Photoshop Comps</li>
                            <li>Developing</li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- End Services Boxes -->
        </div>
    </div>
    <!-- Our Work Section -->
    <div id="work" class="page">
        <div class="container">
            <h1 class="title">Work</h1>
            <p style="margin: 10px 0;">
                Some high-level overviews of a few of my projects. If this leaves you longing for more detail, please view my <a href="_include/InstantCheckMateProcess.pdf" target="_blank"> Process Brief </a>
            </p>
            <!-- Portfolio Projects -->
            <section id="projects">
                <div id="main" class="m-scene">
                <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/ICMRedesign.png" alt="After researching over 40 users, personas were created to reflect our user base. Wireframes then followed with high fidelity design and code.">
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/MOOSE.png" alt="The goal of Moose was to establish the interaction design for an application that would allow musicians to collaborate remotely with each other. We gathered data on real-time collaboration sessions and virtual collaborations, affinity diagrammed our findings, and iterated fervently through sketches and wireframes."></a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/bir.jpg" alt="BIR is a site that addressed a crucial problem in today's society. Where to find local craft brew, and what about it? After competetive analysis, low-fi mockups were followed by final designs and code"></a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/UL1.png" alt="Website redesign for the University of Louisiana. Started with personas. Established information Architecture and navigation through competitive analysis. Iteratively designed and coded webpage "></a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/IlCovo.png" alt="A website for an up-scale beach front Italian restaurant in La Jolla, California. Designs were done iteratively are were based on personas and contextual inquiries"></a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/citisense1.png" alt="A smartphone application that provides real-time data for air pollution."></a>
                    </div>

                </div>
             </div>
            </section>

            
            </div>
        </div>
   







    <!-- End Portfolio Projects -->
    <!-- End Our Work Section -->
    <!-- End About Section -->
    <!-- Big Blockquote -->
    <div class="big-quote page-alternate">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Design based solely on intuition will fail to meet the users needs.  Iterative, data-driven design ensures the user's experience is efficient and engaging. </p>
                    <span class="font-icon-blockquote"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Big Blockquote -->
    <!-- Socialize -->
    <div id="social-area" class="page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav id="social">
                        <ul>
                            <li><a href="http://www.linkedin.com/pub/josh-cooley/43/67/a8b" title="LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Socialize -->
    <!-- Footer -->
    <footer>
        <p class="credits">&copy;2015 Josh Cooley - Last Edited 9/1/15</p>
    </footer>
    <!-- End Footer -->
    <!-- Back To Top -->
    <a id="back-to-top" href="#">
        <i class="font-icon-arrow-simple-up"></i>
    </a>
    <!-- End Back to Top -->
    <!-- Modals -->
    <!-- Js -->
    <script src="_include/js/jquery.min.js"></script> <!-- jQuery Core -->
    <script src="_include/js/jquery.smoothState.js"></script> <!-- SmoothState Core -->
    <script src="_include/js/functions.js"></script>
    <script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
    <script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
    <script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
    <script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
    <script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
    <script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
    <script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
    <script src="_include/js/main.js"></script> <!-- Default JS -->
    <!-- End Js -->

</body>
</html>