<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--<![endif]-->
<html lang="en-US">

<head>

    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Portfolio | Josh Cooley</title>

    <meta name="description" content="" />

    <!-- Mobile Specifics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />

    <!-- Mobile Internet Explorer ClearType Technology -->
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
    <!-- Bootstrap -->
    <link href="_include/css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Style -->
    <link href="_include/css/main.css" rel="stylesheet">

    <!-- Smooth State Styles-->
    <link href="_include/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="_include/css/keyframes.css" rel="stylesheet" type="text/css" />
    <link href="_include/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="_include/css/pageTransitions.css" rel="stylesheet" type="text/css" />
    <!-- Supersized -->
    <link href="_include/css/supersized.css" rel="stylesheet">
    <link href="_include/css/supersized.shutter.css" rel="stylesheet">

    <!-- FancyBox -->
    <link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

    <!-- Font Icons -->
    <link href="_include/css/fonts.css" rel="stylesheet">

    <!-- Shortcodes -->
    <link href="_include/css/shortcodes.css" rel="stylesheet">

    <!-- Responsive -->
    <link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="_include/css/responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="_include/css/custom.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='_include/css/opensans.css' rel='stylesheet' type='text/css'>

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="144x144" href="#">

    <!-- Modernizr -->
    <script src="_include/js/modernizr.js"></script>

    <!-- Smooth State-->
    <script src="_include/js/jquery.smoothState.js"></script>

    <!-- Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'YOUR ID']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- End Analytics -->
</head>
 <body>
        
     <div class="detail m-scene" id="main">
         <div class="m-detail-layout">
         <div class="row">
             <div class="col-xs-4 col-sm-2 m-aside scene_element scene_element--fadein">
                 <h3 class="aside_title">
                     <a href="index.html" class="m-button">
                         <span class="txt">←</span>
                     </a>

                 </h3>
                  <div class="row">
                    <div class="col-xs-12">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/ICMRedesign.png" alt="After researching over 40 users, personas were created to reflect our user base. Wireframes then followed with high fidelity design and code.">
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/MOOSE.png" alt="The goal of Moose was to establish the interaction design for an application that would allow musicians to collaborate remotely with each other. We gathered data on real-time collaboration sessions and virtual collaborations, affinity diagrammed our findings, and iterated fervently through sketches and wireframes."></a>
                    </div>
                    <div class="col-xs-12">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/bir.jpg" alt="BIR is a site that addressed a crucial problem in today's society. Where to find local craft brew, and what about it? After competetive analysis, low-fi mockups were followed by final designs and code"></a>
                    </div>
                    <div class="col-xs-12">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/UL1.png" alt="Website redesign for the University of Louisiana. Started with personas. Established information Architecture and navigation through competitive analysis. Iteratively designed and coded webpage "></a>
                    </div>
                    <div class="col-xs-12">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/IlCovo.png" alt="A website for an up-scale beach front Italian restaurant in La Jolla, California. Designs were done iteratively are were based on personas and contextual inquiries"></a>
                    </div>
                    <div class="col-xs-12">
                        <a href="./work.html" class="hover-wrap"><img class="img-responsive" src="_include/img/work/thumbs/citisense1.png" alt="A smartphone application that provides real-time data for air pollution."></a>
                    </div>

                </div>
             </div>
             <div class="m-right-panel m-page scene_element scene_element--fadeinup scene_element--fadeinright-wide">
                <div class="page">
                 <div class="row">
                    <div class="col-xs-12">
                        <h2> Background Check Redesign </h2>
                        <h4> - User Research - Information Architecture - Interaction Design - Prototyping - Visual Design
                    </div>


                 </div>
                </div>
                 <div class="m-segment">
                     <h2 class="m-type-heading-1">aut a voluptas ipsa voluptatibus repellendus</h2>
                     <div class="segment_content">
                         <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                         <ul>
                             <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                             <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                             <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                             <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                         </ul>
                         <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                     </div>
                 </div>
                 <div class="m-segment">
                     <h2 class="m-type-heading-1">sit minus cum porro ipsum et fugiat totam</h2>
                     <div class="segment_content">
                         <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                         <dl>
                             <dt>Definition list</dt>
                             <dd>
                                 Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                 aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                 commodo consequat.
                             </dd>
                             <dt>Lorem ipsum dolor sit amet</dt>
                             <dd>
                                 Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                 aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                 commodo consequat.
                             </dd>
                         </dl>
                         <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                     </div>
                 </div>
                 <div class="m-highlight m-segment">
                     <div id="footer" class="segment_content">
                         Developed by <a href="https://twitter.com/tayokoart">Miguel Ángel Pérez</a> and maintained by <a href="https://github.com/miguel-perez/jquery.smoothState.js/graphs/contributors">contributors</a> under the <a href="https://github.com/miguel-perez/jquery.smoothState.js/blob/master/LICENSE.md">MIT License</a>.
                     </div>
                 </div>
             </div>
         </div>
    </div>
     </div>














        <footer>
            <p class="credits">&copy;2015 Josh Cooley - Last Edited 9/1/15</p>
        </footer>
        <!-- End Footer -->
        <!-- Back To Top -->
        <a id="back-to-top" href="#">
            <i class="font-icon-arrow-simple-up"></i>
        </a>
        <!-- End Back to Top -->
        <!-- Modals -->
        <!-- Js -->
     <!-- Js -->
     <script src="_include/js/jquery.min.js"></script> <!-- jQuery Core -->
     <script src="_include/js/jquery.smoothState.js"></script> <!-- SmoothState Core -->
     <script src="_include/js/functions.js"></script>
     <script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
     <script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
     <script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
     <script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
     <script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
     <script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
     <script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
     <script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
     <script src="_include/js/main.js"></script> <!-- Default JS -->
     <!-- End Js -->
        <!-- End Js -->
    </body>
</html>